/* table, th, td {
    border: 1px dotted purple;
    border-radius: 5px;
    text-align: center;

  }
   */
   
/* spoiler{
    display: none;
   } */
   body {
       background-color: hotpink;
   }