/* table, th, td {
    border: 1px dotted purple;
    border-radius: 5px;
    text-align: center;

  }
   */
   
/* spoiler{
    display: none;
   } */
   h1{
    text-align: center;
    background-color: #6d6875;
    /* color: #f25c54; */

}
h2{
    background-color: #b5838d;
    
}
h3{
    background-color: #f6cdbc;
}
   body { 
    background-image:
linear-gradient(
         #ce6a85,#bb8091
      );
      height: 100%;
  ;
     
text-align: center;
}
#counter{
    font-size: 20px;
}

table{
 justify-content: center;
}
td{
    /* color */ 
  
    text-align: center;
   

    background-color: #ffcad4;
}
